header {
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  margin: 0;
  padding: 25px;
  background-color: teal;
  text-align: center;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #444;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: teal;
}

body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 30%;
  margin-left: 400px;
  background-color: lightgray;
  border: 1px solid #ccc;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 30%;
  margin-right: 400px;
  background-color: lightgray;
  border: 1px solid #ccc;
}

#menu-details {
  position: absolute;
  top: 297px;
  width: 30%;
  text-align: center;
  background-color: teal;
}

#map-details {
  position: absolute;
  top: 297px;
  width: 30%;
  text-align: center;
  background-color: teal;
}

@media (max-width: 768px) {
  .container-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container, .map-container {
    max-width: 90%;
    margin-bottom: 20px;
  }

  #menu-details, #map-details {
    width: 90%;
    top: 10px;
  }
}
